<a href="https://colab.research.google.com/github/Safirap/Portfolio/blob/main/Case_Study_RevoU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem
1. Which game is the oldest and newest games in that dataset ?
2. Which publisher published most of the games ?
3. Which developer developed most of the games ?
4. Which series is the most sales ?
5. Which series have the most games ?

#Import Library

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data yang akan digunakan adalah : https://docs.google.com/spreadsheets/d/10poofg-l8DMdtUgGy8mOpra2IHmA9EQC7drmF9AyYHA/edit#gid=1485085913

# Read Data and Clean

In [15]:
# read data from google sheet
sheet_url = 'https://docs.google.com/spreadsheets/d/10poofg-l8DMdtUgGy8mOpra2IHmA9EQC7drmF9AyYHA/edit#gid=1485085913'
sheet_url_trf = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df = pd.read_csv(sheet_url_trf)
df

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [17]:
df.columns

Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

In [18]:
df_cleaned = df.copy()
df_cleaned['Release'] = pd.to_datetime(df_cleaned['Release'])

print(df_cleaned.dtypes)
df_cleaned.head()

Name                 object
Sales               float64
Series               object
Release      datetime64[ns]
Genre                object
Developer            object
Publisher            object
dtype: object

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,2017-12-01,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,2011-11-01,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,2012-05-01,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,2006-11-01,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,2011-05-01,Action-adventure,Re-Logic,Re-Logic

In [19]:
# delete NaN
df1 = df_cleaned.dropna()
df1

,Name,Sales,Series,Release,Genre,Developer,Publisher
1,Minecraft,33.0,Minecraft,2011-11-01,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,2012-05-01,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
5,World of Warcraft,14.0,Warcraft,2004-11-01,MMORPG,Blizzard Entertainment,Blizzard Entertainment
6,Half-Life 2,12.0,Half-Life,2004-11-01,First-person shooter,Valve,Valve (digital)
7,The Witcher 3: Wild Hunt,12.0,The Witcher,2015-05-01,Action role-playing,CD Projekt Red,CD Projekt
...,...,...,...,...,...,...,...
171,Warhammer Online: Age of Reckoning,1.0,Warhammer,2008-09-01,MMORPG,Mythic Entertainment,Electronic Arts
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,1994-12-01,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,2001-10-01,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,2013-03-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,2015-11-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

#Problem 1
Which game is the oldest and newest games in that dataset ?

In [27]:
df1.sort_values(by=['Release','Name'],ascending=[True,False])

,Name,Sales,Series,Release,Genre,Developer,Publisher
133,Hydlide,1.0,Hydlide,1984-12-01,Action role-playing,Technology and Entertainment Software,Technology and Entertainment Software
34,Where in the World Is Carmen Sandiego?,4.0,Carmen Sandiego,1985-06-01,Educational,Broderbund,Broderbund
88,International Karate,1.5,International Karate,1985-11-01,Fighting,System 3,Epyx
162,Tetris,1.0,Tetris,1988-01-01,Puzzle,Spectrum HoloByte,Spectrum HoloByte
22,Last Ninja 2,5.5,The Last Ninja,1988-08-01,Action-adventure,System 3,Activision
...,...,...,...,...,...,...,...
128,Hearts of Iron IV,1.0,Hearts of Iron,2016-06-01,"Real-time strategy, grand strategy wargame",Paradox Development Studio,Paradox Interactive
53,7 Days to Die,2.0,7 Days,2016-06-01,Survival horror,The Fun Pimps,The Fun Pimps
94,Nier: Automata,1.2,Nier,2017-03-01,"Action role-playing, hack and slash",PlatinumGames,Square Enix
117,Divinity: Original Sin II,1.0,Divinity,2017-09-01,Role-playing game,Larian Studios,Larian Studios
110,Crusader Kings III,1.0,Crusader Kings,2020-09-01,Grand strategy,Paradox Development Studio,Paradox Interactive

The oldest game is Hydlide. Release in 1984-12-01	
The Newest game is Crusader Kings. Release in 2020-09-01

#Problem 2
Which publisher published most of the games ?

In [21]:
df1['Publisher'].value_counts().sort_values

<bound method Series.sort_values of Electronic Arts              19
Blizzard Entertainment       10
Activision                    6
GT Interactive                5
Paradox Interactive           4
                             ..
Rockstar Games                1
Infogrames / Atari            1
Electronic Arts (Windows)     1
Atari, Inc                    1
Blue Fang Games               1
Name: Publisher, Length: 69, dtype: int64>

The most publisher published is Electronic Arts

#Problem 3
Which developer developed most of the games ?

In [22]:
df1['Developer'].value_counts().sort_values

<bound method Series.sort_values of Blizzard Entertainment        10
Maxis                          6
Valve                          4
Paradox Development Studio     4
id Software                    4
                              ..
Irrational Games               1
EA Los Angeles                 1
Westwood Pacific               1
Pyro Studios                   1
Microsoft                      1
Name: Developer, Length: 81, dtype: int64>

The most developer developed is Blizzard Entertainment

#Problem 4
Which series is the most sales ?

In [23]:
df1[['Sales','Series']]

     Sales          Series
1     33.0       Minecraft
2     20.0          Diablo
5     14.0        Warcraft
6     12.0       Half-Life
7     12.0     The Witcher
..     ...             ...
171    1.0       Warhammer
173    1.0  Wing Commander
174    1.0      Zoo Tycoon
175    1.0       StarCraft
176    1.0       StarCraft

[141 rows x 2 columns]

The most sales series is Minecraft with 33.0 Million

#Problem 5
Which series have the most games ?

In [24]:
df1['Series'].value_counts()

StarCraft                6
Command & Conquer        5
Civilization             4
Age of Empires           4
Warcraft                 3
                        ..
Alice                    1
Ark: Survival Evolved    1
BioShock                 1
Commandos                1
Zoo Tycoon               1
Name: Series, Length: 91, dtype: int64

The series that has the most games is StarCraft

In [25]:
dfSeries = df1[df1['Series'] == 'StarCraft']
dfSeries

,Name,Sales,Series,Release,Genre,Developer,Publisher
8,StarCraft,11.0,StarCraft,1998-03-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
18,StarCraft II: Wings of Liberty,6.0,StarCraft,2010-07-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
157,StarCraft II: Heart of the Swarm,1.0,StarCraft,2013-03-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
158,StarCraft II: Legacy of the Void,1.0,StarCraft,2015-11-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,2013-03-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,2015-11-01,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment